@model Store.WebUI.Models.ProductViewModel

<div class="well">
    <h3>
        <strong>@Model.Name</strong>
        <img src="@Url.Content(Model.ImageSrc)" alt="Image" width="300" height="300" />
        <span class="pull-right label label-primary">@Model.Price.ToString("c")</span>
    </h3>
    @using (Html.BeginForm("AddToCard", "Card"))
    {
    <div class="pull-right">
        @Html.HiddenFor(x => x.ProductId)
        @Html.EditorFor(x=> x.Count, new {htmlAttributes = new {min = 1, max = 20}})
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        <input type="submit" class="btn btn-success" value="Add to card" />
    </div>
    }
    <span class="lead">@Model.Description</span>
</div>
